
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>History of Journeys</title>
    <link rel="icon" href="{% static 'Niwi_Travels/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'Niwi_Travels/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'Niwi_Travels/images/favicon.ico' %}" type="image/x-icon">
<style>
 h1 {
            font-size: 24px;
            text-align: center;
            margin: 20px 0;
            color: #333;
        }

        /* Card styles */
        .card {
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;
            margin-bottom: 20px;
        }

        /* Hover effect for the card */
        .card:hover {
            transform: translateY(-5px);
        }

        /* Image styles within the card */
        .card-img-top {
            width: 100%;
            height: 200px; /* Set the desired height */
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        /* Card title styles */
        .card-title {
            font-size: 1.25rem;
            font-weight: bold;
        }

        /* Card text styles */
        .card-text {
            font-size: 1rem;
        }

        /* "No upcoming journeys found" message styles */
        .no-journeys {
            font-size: 1.25rem;
            text-align: center;
            margin: 20px 0;
        }
        .star-rating .star {
    cursor: pointer;
}

.star-rating .star.selected,
.star-rating .star.hover {
    color: gold;
}


</style>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
        <div class="container">
            <img src="{% static 'Niwi_Travels/images/niwilogo.jpg' %}" alt="Logo" width="40px" height="35px"> <a class="navbar-brand" href="#">NIWI TRAVELS</a>


          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
                
              <li class="nav-item"><a href="/thome" class="nav-link"><span style="color: #fff;">Home</span></a></li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #fff;">
                    {{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/upcoming-journeys" id="#" style=" background-color: rgb(42, 165, 67);text-align: center; margin-top: 10px;">Upcoming Journeys</a>
                    <a class="dropdown-item" href="/ongoing-journeys" id="#" style=" background-color: rgb(218, 180, 13);text-align: center; margin-top: 10px;">Ongoing Trips</a>
                    <a class="dropdown-item" href="/history-journeys" id="#" style=" background-color: rgb(234, 0, 0);text-align: center;margin-top: 10px">History</a>
                    <a class="dropdown-item" href="/viewprofileT" style=" background-color: rgb(151, 140, 245);text-align: center;margin-top: 10px">View Profile</a>
                    <a class="dropdown-item" href="/tupdate" id="#" style=" background-color: rgb(195, 67, 172);text-align: center;margin-top: 10px">Update Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout" id="logout-link" style="color: rgb(255, 0, 0); background-color: rgb(40, 38, 38); text-align: center;margin-top: 10px">Logout</a>
                </div>
            </li>
            </ul>
            
          </div>
        </div>
      </nav>
<br><br>    
{% if messages %}
{% for messages in messages %}
<div class="container">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ messages }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endfor %}
{% endif %}


    <h1>History of Journeys</h1>
    <p style="font-size: 20px;font-weight: bold;">Stay Safe and Stay Connected. We are Happy to See You Soon.</p>
    <div class="row">
        {% for package_with_images in packages_with_images %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <!-- Display the first image if available -->
                    <a href="/package/{{ package_with_images.package.id }}?from_upcoming_journeys=true">
                        {% if package_with_images.images %}
                            <img src="{{ package_with_images.images.image.url }}" class="card-img-top" alt="Package Image">
                        {% else %}
                            <img src="{% static 'path_to_default_image.jpg' %}" class="card-img-top" alt="Default Image">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ package_with_images.package.package_name }}</h5>
                        <p class="card-text">Start Date: {{ package_with_images.package.start_date }}</p>
                        <p class="card-text">End Date: {{ package_with_images.package.end_date }}</p>
    
                        <!-- Display rating in star format -->
                        {% if package_with_images.rating.stars %}
                            <!-- Display existing rating in filled star format -->
                            <label>Rating:</label>
                            <div class="star-rating" data-package-id="{{ package_with_images.booking.id }}">
                                {% for i in ''|rjust:package_with_images.rating.stars %}
                                    {% if package_with_images.rating.stars|default:0 > i %}
                                        <span class="star selected" data-rating="{{ i }}" onclick="handleStarClick('{{ package_with_images.booking.id }}', '{{ i }}')">&#9734;</span>
                                    {% else %}
                                        <span class="star" style="color: gold;" data-rating="{{ i }}" onclick="handleStarClick('{{ package_with_images.booking.id }}', '{{ i }}')">&#9733;</span>
                                    {% endif %}
                                {% endfor %}
                                <form method="post" action="{% url 'submit_rating' package_with_images.booking.id 0 %}">
                                    {% csrf_token %}
                                    <div>
                                        <label for="rating">Edit your Rating:</label><br>
                                        <input type="text" name="description" style="font-size: medium; font-family: 'Times New Roman', Times, serif; border-radius: 10px; border: 1px solid red;" id="description_input" value="{{ package_with_images.rating.description }}">
                                    </div>
                                    <div class="star-rating" data-package-id="{{ package_with_images.booking.id }}">
                                        {% for i in ''|rjust:5 %}
                                            {% with forloop.counter as rating %}
                                                <span class="star" name="stars" id="star{{ package_with_images.booking.id }}_{{ rating }}" data-rating="{{ rating }}" onclick="handleStarClick('{{ package_with_images.booking.id }}', '{{ rating }}')" onmouseover="handleStarHover('{{ package_with_images.booking.id }}', '{{ rating }}')" onmouseout="handleStarMouseOut('{{ package_with_images.booking.id }}')">&#9733;</span>
                                            {% endwith %}
                                        {% endfor %}
                                        <input type="hidden" name="stars" id="stars_input_{{ package_with_images.booking.id }}" value=""><br>
                                        <button type="submit">Submit Rating</button>
                                    </div>
                                </form>
                            </div>
                        {% else %}
                            <!-- Add a form to submit a rating if not already rated -->
                            <form method="post" action="{% url 'submit_rating' package_with_images.booking.id 0 %}">
                                {% csrf_token %}
                                <div>
                                    <label>Your Experience with Niwi Travels:</label>
                                    <input type="text" name="description" id="description_input" > 
                                </div>
                                <div class="star-rating" data-package-id="{{ package_with_images.booking.id }}">
                                    {% for i in ''|rjust:5 %}
                                        {% with forloop.counter as rating %}
                                            <span class="star" name="stars" id="star{{ package_with_images.booking.id }}_{{ rating }}" data-rating="{{ rating }}" onclick="handleStarClick('{{ package_with_images.booking.id }}', '{{ rating }}')" onmouseover="handleStarHover('{{ package_with_images.booking.id }}', '{{ rating }}')" onmouseout="handleStarMouseOut('{{ package_with_images.booking.id }}')">&#9733;</span>
                                        {% endwith %}
                                    {% endfor %}
                                    <input type="hidden" name="stars" id="stars_input_{{ package_with_images.booking.id }}" value="">
                                    <button type="submit">Submit Rating</button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <script>
                function handleStarClick(packageId, rating) {
                 const stars = document.querySelectorAll(`[data-package-id="${packageId}"] .star`);

                 stars.forEach((star, index) => {
                     if (index < rating) {
                         star.classList.add('selected');
                     } else {
                         star.classList.remove('selected');
                     }
                 });

                     // Set the value of the hidden input to the selected rating
                     const ratingInput = document.querySelector(`#stars_input_${packageId}`);
                     ratingInput.value = rating;
                 }

                 
                 function handleStarHover(packageId, rating) {
                     const stars = document.querySelectorAll(`[data-package-id="${packageId}"] .star`);
             
                     stars.forEach((star, index) => {
                         if (index < rating) {
                             star.classList.add('hover');
                         } else {
                             star.classList.remove('hover');
                         }
                     });
                 }
                 
                 function handleStarMouseOut(packageId) {
                     const stars = document.querySelectorAll(`[data-package-id="${packageId}"] .star`);
             
                     stars.forEach((star) => {
                         star.classList.remove('hover');
                     });
                 }

                 function handleStarHover(packageId, rating) {
                 for (let i = 1; i <= 5; i++) {
                     const star = document.getElementById(`star${packageId}_${i}`);
                     if (i <= rating) {
                         star.style.color = "gold";
                     } else {
                         star.style.color = "";
                     }
                 }
             }

             </script>
        {% endfor %}

        {% for package_with_images in cancelled_bookings %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <!-- Display the first image if available -->
                    <a href="/package/{{ package_with_images.package.id }}?from_upcoming_journeys=true">
                        {% if package_with_images.images %}
                            <img src="{{ package_with_images.images.image.url }}" class="card-img-top" alt="Package Image">
                        {% else %}
                            <img src="{% static 'path_to_default_image.jpg' %}" class="card-img-top" alt="Default Image">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ package_with_images.package.package_name }}</h5>
                        <p class="card-text">Start Date: {{ package_with_images.package.start_date }}</p>
                        <p class="card-text">End Date: {{ package_with_images.package.end_date }}</p>
                        <p class="card-text">Booking was Cancelled</p>
                        {% if package_with_images.booking.payment == 'Pending' %}
                        
                        {% elif package_with_images.booking.payment == 'Paid' %}
                       
                        {% if package_with_images.booking.id in all_bookings %}
                        <p class="card-text">Refund applied</p>
                        {% else %}
                        
                            <button type="submit" class="btn btn-success"><a href="/accounts/{{ package_with_images.booking.id }}" style="color: #fff;"> Apply Refund</a></button>
                        </form>
                           
                        {% endif %}
                    {% endif %}
                    </div>
                </div> 
            </div>
        {% endfor %}

    </div>

            <h1>History of Custom Journeys</h1>
            <p style="font-size: 20px;font-weight: bold;">Stay Safe and Stay Connected. We are Happy to See You Soon.</p>
            <div class="row">
{% for journey in history_custom_journeys %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <!-- Display the first image if available -->
                            <a href="{% url 'custom_package_detail' journey.package.id %}">
                                {% if journey.package.package_image %}
                                <img src="{{ journey.package.package_image.url }}" class="card-img-top" alt="Package Image">
                                {% else %}
                                <img src="{% static 'path_to_default_image.jpg' %}" class="card-img-top" alt="Default Image">
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ journey.package.name }}</h5>
                                <p class="card-text">Category: {{ journey.package.category }}</p>
                                <p class="card-text">Start Date: {{ journey.start_date }}</p>
                                <p class="card-text">Boarding: {{ journey.boarding }}</p>
                            <!-- {% if journey.status == 'Cancelled' %}
                                    <p class="card-text">Booking was Cancelled</p>
                                        {% if journey.payment == 'Pending' %}
                                      
                                        {% elif journey.payment == 'Paid' %}
                                    
                                        {% if journey.id in all_bookings %}
                                        <p class="card-text">Refund applied</p>
                                        {% else %}
                                            <button type="submit" class="btn btn-success"><a href="/account-details/{{ journey.id }}"> Apply Refund</a></button>
                                        </form>
                                            <span style="font-weight: 100;">Apply for refund</span>
                                        {% endif %}
                                    {% endif %}
                            {% endif %} -->
                            {% if journey.status == 'Pending' %}
                                    <p class="card-text">Booking was not completed</p>
                            {% endif %}
{% if journey.status == 'Confirmed'  and journey.payment == 'Paid' %}
    <!-- Display rating in star format -->
    {% for rating in c_rating %}
        {% if rating.booking_id == journey.id %}
            <!-- Display existing rating in filled star format -->
            <label>Rating:</label>
            <div class="star-rating" data-package-id="{{ journey.id }}">
                {% for i in ''|rjust:rating.stars %}
                    {% if rating.stars|default:0 > i %}
                        <span class="star selected" data-rating="{{ i }}" onclick="handleStarClick('{{ journey.id }}', '{{ i }}')">&#9734;</span>
                    {% else %}
                        <span class="star" style="color: gold;" data-rating="{{ i }}" onclick="handleStarClick('{{ journey.id }}', '{{ i }}')">&#9733;</span>
                    {% endif %}
                {% endfor %}
            </div>
            <form method="post" action="{% url 'submit_custom_rating' journey.id 0 %}">
                {% csrf_token %}
                <div>
                    <label for="rating">Edit your Rating:</label><br>
                    <input type="text" name="description" style="font-size: medium; font-family: 'Times New Roman', Times, serif; border-radius: 10px; border: 1px solid red;" id="description_input" value="{{ rating.description }}">
                </div>
                <div class="star-rating" data-package-id="{{ journey.id }}">
                    {% for i in ''|rjust:5 %}
                        {% with forloop.counter as star_rating %}
                            <span class="star" name="stars" id="star{{ journey.id }}_{{ star_rating }}" data-rating="{{ star_rating }}" onclick="handleStarClick('{{ journey.id }}', '{{ star_rating }}')" onmouseover="handleStarHover('{{ journey.id }}', '{{ star_rating }}')" onmouseout="handleStarMouseOut('{{ journey.id }}')">&#9733;</span>
                        {% endwith %}
                    {% endfor %}
                    <input type="hidden" name="stars" id="stars_input_{{ journey.id }}" value=""><br>
                    <button type="submit">Submit Rating</button>
                </div>
            </form>
        {% endif %}
        
    {% endfor %}

    {% if journey.id not in c_rating_booking_ids %}
        <form method="post" action="{% url 'submit_custom_rating' journey.id 0 %}">
            {% csrf_token %}
            <div>
                <label>Your Experience with Niwi Travels:</label>
                <input type="text" name="description" id="description_input">
            </div>
            <div class="star-rating" data-package-id="{{ journey.id }}">
                {% for i in ''|rjust:5 %}
                    {% with forloop.counter as star_rating %}
                        <span class="star" name="stars" id="star{{ journey.id }}_{{ star_rating }}" data-rating="{{ star_rating }}" onclick="handleStarClick('{{ journey.id }}', '{{ star_rating }}')" onmouseover="handleStarHover('{{ journey.id }}', '{{ star_rating }}')" onmouseout="handleStarMouseOut('{{ journey.id }}')">&#9733;</span>
                    {% endwith %}
                {% endfor %}
                <input type="hidden" name="stars" id="stars_input_{{ journey.id }}" value=""><br>
                <button type="submit">Submit Rating</button>
            </div>
        </form>
    {% endif %}

{% endif %}
                                <!-- <form method="post" action="{% url 'submit_custom_rating' journey.id 0 %}">
                                    {% csrf_token %}
                                    <div>
                                        <label>Your Experience with Niwi Travels:</label>
                                        <input type="text" name="description" id="description_input" > 
                                    </div>
                                    <div class="star-rating" data-package-id="{{ journey.id }}">
                                        {% for i in ''|rjust:5 %}
                                            {% with forloop.counter as rating %}
                                                <span class="star" name="stars" id="star{{ journey.id }}_{{ rating }}" data-rating="{{ rating }}" onclick="handleStarClick('{{ journey.id }}', '{{ rating }}')" onmouseover="handleStarHover('{{ journey.id }}', '{{ rating }}')" onmouseout="handleStarMouseOut('{{ journey.id }}')">&#9733;</span>
                                            {% endwith %}
                                        {% endfor %}
                                        <input type="hidden" name="stars" id="stars_input_{{ journey.id }}" value="">
                                        <button type="submit">Submit Rating</button>
                                    </div>
                                </form> -->
                            
                                </div>
                            </div>
                    </div>

            <script>
                function handleStarClick(packageId, rating) {
                 const stars = document.querySelectorAll(`[data-package-id="${packageId}"] .star`);

                 stars.forEach((star, index) => {
                     if (index < rating) {
                         star.classList.add('selected');
                     } else {
                         star.classList.remove('selected');
                     }
                 });

                     // Set the value of the hidden input to the selected rating
                     const ratingInput = document.querySelector(`#stars_input_${packageId}`);
                     ratingInput.value = rating;
                 }

                 
                 function handleStarHover(packageId, rating) {
                     const stars = document.querySelectorAll(`[data-package-id="${packageId}"] .star`);
             
                     stars.forEach((star, index) => {
                         if (index < rating) {
                             star.classList.add('hover');
                         } else {
                             star.classList.remove('hover');
                         }
                     });
                 }
                 
                 function handleStarMouseOut(packageId) {
                     const stars = document.querySelectorAll(`[data-package-id="${packageId}"] .star`);
             
                     stars.forEach((star) => {
                         star.classList.remove('hover');
                     });
                 }

                 function handleStarHover(packageId, rating) {
                 for (let i = 1; i <= 5; i++) {
                     const star = document.getElementById(`star${packageId}_${i}`);
                     if (i <= rating) {
                         star.style.color = "gold";
                     } else {
                         star.style.color = "";
                     }
                 }
             }

             </script>
        {% endfor %}
        {% for package_with_images in cancelled_custom_bookings %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <!-- Display the first image if available -->
                <a href="{% url 'custom_package_detail' package_with_images.package.id %}">
                    {% if package_with_images.package.package_image %}
                        <img src="{{ package_with_images.package.package_image.url }}" class="card-img-top" alt="Package Image">
                    {% else %}
                        <img src="{% static 'path_to_default_image.jpg' %}" class="card-img-top" alt="Default Image">
                    {% endif %}
                </a>
                <div class="card-body">
                        <h5 class="card-title">{{ package_with_images.package.name }}</h5>
                        <p class="card-text">Category: {{ package_with_images.package.category }}</p>
                        <p class="card-text">Start Date: {{ package_with_images.booking.start_date }}</p>
                        <p class="card-text">Boarding: {{ package_with_images.booking.boarding }}</p>
                    <p class="card-text">Booking was Cancelled</p>
                    {% if package_with_images.booking.payment == 'Pending' %}
                    
                    {% elif package_with_images.booking.payment == 'Paid' %}
                   
                    {% if package_with_images.booking.id in all_booking %}
                    <p class="card-text">Refund applied</p>
                    {% else %}
                    
                        <button type="submit" class="btn btn-success"><a href="/account-details/{{ package_with_images.booking.id }}" style="color: #fff;"> Apply Refund</a></button>
                    </form>
                    {% endif %}
                {% endif %}
                </div>
            </div> 
        </div>
    {% endfor %}


    </div>
    
    
    </body>
    </html>      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

