{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Upcoming Journeys</title>
    <link rel="icon" href="{% static 'Niwi_Travels/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'Niwi_Travels/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'Niwi_Travels/images/favicon.ico' %}" type="image/x-icon">
<style>
 h1 {
            font-size: 24px;
            text-align: center;
            margin: 20px 0;
            color: #333;
        }

        /* Card styles */
        .card {
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;
            margin-bottom: 20px;
        }

        /* Hover effect for the card */
        .card:hover {
            transform: translateY(-5px);
        }

        /* Image styles within the card */
        .card-img-top {
            width: 100%;
            height: 200px; /* Set the desired height */
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        /* Card title styles */
        .card-title {
            font-size: 1.25rem;
            font-weight: bold;
        }

        /* Card text styles */
        .card-text {
            font-size: 1rem;
        }

        /* "No upcoming journeys found" message styles */
        .no-journeys {
            font-size: 1.25rem;
            text-align: center;
            margin: 20px 0;
        }


</style>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
        <div class="container">
            <img src="{% static 'Niwi_Travels/images/niwilogo.jpg' %}" alt="Logo" width="40px" height="35px"> <a class="navbar-brand" href="#">NIWI TRAVELS</a>


          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
                
              <li class="nav-item"><a href="/thome" class="nav-link"><span style="color: #fff;">Home</span></a></li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #fff;">
                    {{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/upcoming-journeys" id="#" style=" background-color: rgb(42, 165, 67);text-align: center; margin-top: 10px;">Upcoming Journeys</a>
                    <a class="dropdown-item" href="/ongoing-journeys" id="#" style=" background-color: rgb(218, 180, 13);text-align: center; margin-top: 10px;">Ongoing Trips</a>
                    <a class="dropdown-item" href="/history-journeys" id="#" style=" background-color: rgb(234, 0, 0);text-align: center;margin-top: 10px">History</a>
                    <a class="dropdown-item" href="/viewprofileT" style=" background-color: rgb(151, 140, 245);text-align: center;margin-top: 10px">View Profile</a>
                    <a class="dropdown-item" href="/tupdate" id="#" style=" background-color: rgb(195, 67, 172);text-align: center;margin-top: 10px">Update Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout" id="logout-link" style="color: rgb(255, 0, 0); background-color: rgb(40, 38, 38); text-align: center;margin-top: 10px">Logout</a>
                </div>
            </li>
            </ul>
            
          </div>
        </div>
      </nav>
<br><br>        
    <h1>Upcoming Journeys</h1>
    <p style="font-size: 20px;font-weight: bold;">Stay Safe and Stay Connected. We are Happy to See You Soon.</p>
    <div class="row">
        {% for journey in packages_with_images %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="{% url 'package_detail' journey.package.id %}">
                    <!-- Display the first image if available -->

                    {% if package_images %}
                    <img src="{{ package_images.0.image.url }}" class="card-img-top" alt="Package Image">
                    {% else %}
                    <img src="{% static 'path_to_default_image.jpg' %}" class="card-img-top" alt="Default Image">
                    {% endif %}


                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ journey.package.package_name }}</h5>
                    <p class="card-text">Start Date: {{ journey.start_date }}</p>
                    <p class="card-text">End Date: {{ journey.end_date }}</p>
                    <p class="card-text">Destination: {{ journey.package.destination }}</p>
                    <p class="card-text">
                        <a href="{% url 'passenger_details' journey.id %}" class="view-details-link">
                            View Passengers {{ journey.passenger_limit }}
                        </a>
                    </p>
                    <!-- Add more details as needed -->
            {% if user.is_authenticated %}
            {% if journey.start_date > two_days_before_start_date %}

            <form id="cancelForm" method="POST" action="{% url 'cancel_booking' journey.id %}">
                {% csrf_token %}
                <button type="button" onclick="confirmCancel()" class="btn btn-danger">Cancel Booking</button>
            </form>
            
            <script>
                function confirmCancel() {
                    // Display an alert
                    if (confirm("Are you sure you want to cancel the booking?")) {
                        // If the user clicks OK, submit the form
                        document.getElementById("cancelForm").submit();
                    }
                }
            </script>
            
            {% endif%}
                {% if journey.status == 'Confirmed' %}
                {% if journey.payment == 'Paid' %}
                <!-- Display a payment button only if the booking status is "Confirmed" -->
                <form method="POST" action="{% url 'payment' booking_id=journey.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Payment Done</button>
                </form>
                {% else %}
                <form method="POST" action="{% url 'payment' booking_id=journey.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Make Payment</button>
                </form>
                {% endif %}
            {% endif %}
            {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p class="no-journeys">NNo upcoming journeys found. We are Happy to See You Soon.</p>
        {% endfor %}
    </div>



    <h1> Upcoming Custom Journeys</h1>

{% if upcoming_custom_journeys %}
    <div class="row">
        {% for journey in upcoming_custom_journeys %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a href="{% url 'custom_package_detail' journey.package.id %}">
                        {% if journey.package.package_image %}
                            <img src="{{ journey.package.package_image.url }}" class="card-img-top" alt="Package Image">
                        {% else %}
                            <img src="{% static 'path_to_default_image.jpg' %}" class="card-img-top" alt="Default Image">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ journey.package.name }}</h5>
                        <p class="card-text">Category: {{ journey.package.category }}</p>
                        <p class="card-text">Start Date: {{ journey.start_date }}</p>
                        <p class="card-text">Boarding: {{ journey.boarding }}</p>
                        <p class="card-text">
                            <a href="{% url 'custom_passenger_details' journey.id %}" class="view-details-link">
                                View Passengers {{ journey.passenger_limit }}
                            </a>
                        </p>
                        <!-- Add more details as needed -->
                        {% if user.is_authenticated %}
                {% if journey.start_date > two_days_before_start_date %}
                <form id="cancelForm" method="POST" action="{% url 'cancel_custom_booking' journey.id %}">
                    {% csrf_token %}
                    <button type="button" onclick="confirmCancel()" class="btn btn-danger">Cancel Booking</button>
                </form>
                
                <script>
                    function confirmCancel() {
                        // Display an alert
                        if (confirm("Are you sure you want to cancel the booking?")) {
                            // If the user clicks OK, submit the form
                            document.getElementById("cancelForm").submit();
                        }
                    }
                </script>
                
                {% endif %}
                    {% if journey.status == 'Confirmed' %}
                        {% if journey.payment == 'Paid' %}
                        <form method="POST" action="{% url 'custom_payment' booking_id=journey.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Payment Done</button>
                        </form>
                        {% else %}
                        
                        <!-- Display a payment button only if the booking status is "Confirmed" -->
                        <form method="POST" action="{% url 'custom_payment' booking_id=journey.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Make Payment</button>
                        </form>
                        {% endif %}
                {% endif %}
                {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No confirmed upcoming journeys found.</p>
{% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
